---
site_name: django-periodic-tasks

theme:
  name: material
  icon:
    repo: fontawesome/brands/git-alt
  features:
    - navigation.tabs
    - search.suggest
    - search.highlight

repo_name: django-periodic-tasks
repo_url: https://gitlab.com/thelabnyc/django-periodic-tasks/
edit_uri: -/edit/master/docs/

docs_dir: docs/
site_dir: build/mkdocs/

extra_css:
  - styles.css

markdown_extensions:
  - toc:
      permalink: True
  - abbr
  - def_list
  - footnotes
  - md_in_html
  - codehilite
  - smarty
  - admonition
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tasklist:
      custom_checkbox: true
      clickable_checkbox: true
  - mkautodoc

use_directory_urls: false

plugins:
  - search
  - awesome-pages
  - pagenav-generator
  - section-index
